header{
    background-color: #96C05D;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border: 20px;
    border-radius: 20px;
}

.titulo{
    color: #000;
    background-color:#FDE1AF;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    align-items: center;
    display: inline;
    border-radius: 20px;
    background-color: #f0f0f0;
    margin-top:20px;
}

.singup{
    margin-block-end:20px;
    border-radius: 10px;
    padding: 20px;
    color: black;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
}

.formulario{
    background-color: #96C05D;
    display: block;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    color: #000;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
   
}

.lista{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #000;
}

.btn{
    background-color: #006400;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    padding: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
    margin-left: 43%;
}

#btn2{
    color: black;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    display: flex;
    margin: 15px;
    margin-left: 595px;
}

main img{
    display: flex;
    margin-left: 55px;
    padding: auto;
    position: absolute;
    align-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: -40px;
    
}

.referencias{
    display: none;
}